<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trenton | Pawns Pathways</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="google-site-verification" content="zXE_Z6aUkbbBzeg3MXyrLk5mXmRakOFOxFHvxAcKfWs" />

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P35MJTP');</script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="An officially registered nonprofit dedicated to empowering children through chess.">
    <meta name="keywords" content="pawns pathways, pawnspathways, pawns, pathways, chess nonprofit, chess, nonprofit">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/72d227a617.js" SameSite="none Secure" crossorigin="anonymous"></script>

    <!-- Website CSS -->
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/media.css" />
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i' rel='stylesheet'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-8B9CVY2J70"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8B9CVY2J70');
    </script> -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#header").load("/static/insertables/header.html");
            $("#footer").load("/static/insertables/footer.html");
        });
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P35MJTP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="header"></section>
    <section id="pictures">
        <div class="row">
            <div class="center info-section">
                <h2 class="section-title" style="font-weight: bold;">Trenton Library</h2>
                <div class="library-container">
                    <img src="/static/images/partners/TrentonLogo.png" width="400" class="library-img">
                    <img src="/static/images/trenton/TrentonImg1.jpeg" width="400" class="library-img">
                </div>
                <p class="library-title">History of Pawns Pathways at the Plainsboro Library</p>
                <p class="library-desc">In 2021, as the COVID-19 pandemic came to a close, we kicked off a special
                    partnership with Plainsboro Library. This program was known as the Junior Chess Club. At first, we
                    were a small group of enthusiastic volunteers with one goal in mind: to introduce children to the
                    fascinating game of chess through fun and engaging weekly classes. As our journey went on, we
                    started to dream bigger. We came to the realization that many children didn’t have the same
                    opportunities as the children in Plainsboro Library, and so then and there we decided that we have
                    to provide the world of chess to all children. This led us to become a non-profit organization known
                    as Pawns Pathways. This allowed us to offer more classes, tournaments, scholarships, etc. Today,
                    Pawns Pathways and Plainsboro Library together have created a unique place in Plainsboro, bringing
                    the wonders of chess to many children.</p>
                <div class="library-container">
                    <img src="/static/images/plainsboro/PlainsboroImg2.jpg" width="400" class="library-img">
                    <img src="/static/images/plainsboro/PlainsboroImg3.jpg" width="400" class="library-img">
                </div>
                <p class="library-title">Only the Best Education in Chess Is Good Enough</p>
                <p class="library-desc">Within Plainsboro Library, Pawns Pathways has built a thriving environment for
                    learning chess. Our thoroughly designed curriculum in combination with our experienced and
                    passionate instructors create exciting lessons that blend chess with important life skills like
                    critical thinking, problem-solving, and sportsmanship. This powerful combination helps us not just
                    create good chess players, but also ambitious individuals ready to take on life's challenges. We
                    ensure that every child comes out a better person.</p>
                <div class="library-container">
                    <img src="/static/images/plainsboro/PlainsboroImg4.jpeg" width="400" class="library-img">
                    <img src="/static/images/plainsboro/PlainsboroImg5.jpeg" width="400" class="library-img">
                </div>
                <p class="library-title">Volunteers Are the Foundation of Pawns Pathways</p>
                <p class="library-desc">The remarkable success story of our programs at Plainsboro Library would not be
                    possible without the unwavering support and commitment of our extraordinary volunteers. Their
                    profound love for chess, in combination with their dedication to community service, fosters an
                    environment where learning thrives. Together, we are on a mission to help the community in
                    Plainsboro Library. To ensure the best education in chess, we recruit only the most passionate
                    individuals.</p>
                <div class="library-container">
                    <img src="/static/images/plainsboro/PlainsboroImg6.png" width="400" class="library-img">
                    <img src="/static/images/plainsboro/PlainsboroImg7.jpg" width="400" class="library-img">
                </div>
                <p class="library-title">Our Exceptionally Designed Curriculum Makes Results</p>
                <p class="library-desc">We realized the need for a better chess education that can create a legacy of
                    learning, growth, and passion for chess. As an organization run by students, we know the challenges
                    of the education system first-hand. With this in mind, we designed our curriculum ensuring every
                    lesson we teach and every homework assignment is meaningful to the children’s chess journey. A good
                    curriculum is nothing without the teacher that teaches it though. We ensure that every volunteer
                    here at Pawns Pathways is able to bring out the child’s potential.</p>
                <div class="library-container">
                    <img src="/static/images/plainsboro/PlainsboroImg8.jpg" width="400" class="library-img">
                    <img src="/static/images/plainsboro/PlainsboroImg9.jpg" width="400" class="library-img">
                </div>
                <p class="library-title">Fostering an Education in Chess via Scholarships</p>
                <p class="library-desc">Our scholarships here at Pawns Pathways aim to fully unlock the potential of a
                    child. We know that sometimes money can be the reason for not continuing a child’s chess education,
                    but we aim to ensure that this will not be a factor. Our volunteers look at the outstanding talents
                    of each child and their potential when teaching. There are also many mock tournaments to try and
                    prove one’s skill. As we see the child’s dedication to the game of chess in combination with their
                    potential, we provide them with scholarships to enter tournaments and further continue their chess
                    education.</p>
                <div class="library-container">
                    <img src="/static/images/plainsboro/PlainsboroImg10.jpeg" width="400" class="library-img">
                    <img src="/static/images/plainsboro/PlainsboroImg11.jpeg" width="400" class="library-img">
                </div>
                <p class="library-title">The Pawns Pathways Impact on the Plainsboro Community</p>
                <p class="library-desc">Our partnership with Plainsboro Library is about more than just chess. We’ve
                    seen our students grow and improve in focus, memory, and logical thinking. These benefits spill over
                    into their school work and personal lives. Plainsboro Library is a welcoming space for chess lovers
                    of all levels, and together, we’re building a community of lifelong learners, strategic thinkers,
                    and passionate chess players. As Pawns Pathways, we want to leave an ever-lasting impact on the
                    community of Plainsboro.</p>
            </div>
        </div>
    </section>

    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!--scripts -->
    <script type="text/javascript">
        /* curator-feed-default-feed-layout */
        (function () {
            var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
            i.src = "https://cdn.curator.io/published/5c017ce8-a237-47c5-ab0d-b9edeb732755.js";
            e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
        })();
    </script>
    <script type="text/javascript" src="/static/scripts/ajax.js"></script>
</body>

<section id="footer"></section>

</html>