<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Executive Board | Pawns Pathways</title>
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" />
    <meta name="google-site-verification" content="tSUz7SrP738ipjCI2TwsVVuyvsYXaP-uJM2-P1G694U" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P35MJTP");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="An officially registered nonprofit dedicated to empowering children through chess."
    />
    <meta
      name="keywords"
      content="pawns pathways, pawnspathways, pawns, pathways, chess nonprofit, chess, nonprofit"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/72d227a617.js"
      SameSite="none Secure"
      crossorigin="anonymous"
    ></script>

    <!-- Website CSS -->
    <link rel="stylesheet" href="../../static/styles.css" />
    <link rel="stylesheet" href="../../static/media.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:300,300i,700,700i"
      rel="stylesheet"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-8B9CVY2J70"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8B9CVY2J70');
    </script> -->
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#header").load("../../static/insertables/header.html");
        $("#footer").load("../../static/insertables/footer.html");
      });
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P35MJTP"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id="header"></section>
    <section id="leadership">
      <div class="info-section">
        <div class="col-lg-4">
          <h2 class="section-title">Executive Board</h2>
        </div>
      </div>
      <div class="leadership-section">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/JasonPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#abhinavModal"
              />
            </div>
            <div
              class="modal fade"
              id="abhinavModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="abhinavModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/JasonPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Jason Cheung</h2>
                          <h3>President</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Jason Cheung is a 16-year-old high school student. 
                            He has a passion for chess and plays it both casually and competitively. 
                            He also plays lacrosse and is on the school team. 
                            Jason also works out and boxes. In his leisure time, Jason plays the piano 
                            and also studies mathematics. Jason contributes to expanding the 
                            organization's reach and assists in managing instructors. 
                            He is enthusiastic about sharing his knowledge and skills to others.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Jason Cheung</h2>
            <h3 class="lead-description">President</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/DiviPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#abhishekModal"
              />
            </div>
            <div
              class="modal fade"
              id="abhishekModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="abhishekModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/DiviPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                            <h2 class="bluebold">Divi Madapati</h2>
                          <h3>Co-President</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Divi Madapati is a 17-year-old high school student. She discovered her love for chess in 3rd grade and actively competed
                            in USCF tournaments through her sophomore year of high school. While she stepped back from competitive play,
                            her passion for teaching and sharing her knowledge with younger, curious students has only grown. Beyond chess,
                            Divi serves her community as an EMT with two first aid squads and is deeply committed to the healthcare field.
                            She has leadership experience in a healthcare nonprofit, as well as in health-related clubs at school, and has
                            dedicated significant time to biomedical research. In her free time, she enjoys spending time outdoors, whether
                            walking or engaging in seasonal activities. She also enjoys reading mystery novels and spending time with her
                            family and friends. Divi is grateful for the opportunity to work with the passionate children at Pawn Pathways and is excited
                            to continue inspiring them through chess.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Divi Madapati</h2>
            <h3 class="lead-description">Co-President</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/KriviPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#VedModal"
              />
            </div>
            <div
              class="modal fade"
              id="VedModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="VedModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/KriviPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Krivi Partani</h2>
                          <h3>Vice President</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Krivi Partani is a junior at WWP High School North and the vice president of Pawns Pathways.
                            He started playing chess for fun with his dad when he was three or four years old,
                            and occasionally went to his local library to play with other kids too.
                            After taking a break from playing for a couple years,
                            he took classes again during the pandemic, and now enjoys teaching kids with Pawns Pathways.
                            Aside from chess, he loves math, hanging out with friends, and video games, particularly Pokemon.
                            He wants to be a professor one day, and he believes his leadership and organization skills
                            plus teaching experience can help not only the organization, but his future goals too. 
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Krivi Partani</h2>
            <h3 class="lead-description">Vice President</h3>
          </div>
        </div>
      </div>
    </section>

    <section id="board-of-directors">
      <div class="info-section">
        <div class="col-lg-4">
          <h2 class="section-title">Board of Directors</h2>
        </div>
      </div>
      <div class="leadership-section">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/ChoppedPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#AadityaModal"
              />
            </div>
            <div
              class="modal fade"
              id="AadityaModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="AadityaModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/ChoppedPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Kavin Muthiah</h2>
                          <h3>Director of Technology</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Kavin Muthiah is a 16-year-old high school student who has been programming for over 9 years.
                            He has a passion for chess and enjoys the opportunity to teach others.
                            As an Eagle Scout, he has a strong work ethic and has much leadership and teaching experience.
                            He enjoys singing, and has toured at Carnegie Hall with his choir.
                            He also has a penchant for performing card tricks, which he has learnt over many years.
                            As the Director of Technology, he is responsible for the organization's website and makes sure
                            that everything runs smoothly on the technical side. 
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Kavin Muthiah</h2>
            <h3 class="lead-description">Director of Technology</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/AavinPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#SidModal"
              />
            </div>
            <div
              class="modal fade"
              id="SidModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="SidModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/AavinPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Aavin Soman</h2>
                          <h3>Director of Finance</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Aavin Soman is a 16 year old high school junior and a Life Scout.
                            He has been playing chess since childhood and enjoys helping younger players build
                            their skills and confidence in the game. Outside of chess, he is part of his school’s
                            business club and also spends his time biking and swimming competitively.
                            As the Director of Finance, he manages funds and budgets for the organization,
                            making sure operations run smoothly.
                            He looks forward to sharing his love for chess with all students in the program.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Aavin Soman</h2>
            <h3 class="lead-description">Director of Finance</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/RituPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#CharlieModal"
              />
            </div>
            <div
              class="modal fade"
              id="CharlieModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="CharlieModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/RituPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Ritu Natikar</h2>
                          <h3>Secretary</h3>
                          <p align="center">jcheung@pawnspathways.org</p>
                          <br />
                          <p>
                            Ritu Natikar is a 17 year old high school student with a fervent passion for chess,
                            which she discovered in second grade when her father first taught her the game.
                            She continues to enjoy playing chess with her family to this day.
                            In her free time, Ritu is also an avid artist, reader, and badminton enthusiast.
                            As Secretary of Pawns Pathways, she is responsible for researching opportunities to
                            support the nonprofit’s mission, as well as enhancing its operations and overall efficiency.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold">Ritu Natikar</h2>
            <h3 class="lead-description">Secretary</h3>
          </div>
          
        </div>
      </div>
    </section>

    <section style="margin-bottom: 10vh;" id="operations">
      <div class="info-section">
        <div class="col-lg-4">
          <h2 class="section-title">Operations</h2>
        </div>
      </div>
      <div class="leadership-section">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="zoom">
              <img
                src="../../static/images/leadership/AdamPic.jpeg"
                width="300"
                class="rounded-corners center lead-img"
                data-toggle="modal"
                data-target="#AdityaModal"
              />
            </div>
            <div
              class="modal fade"
              id="AdityaModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="AdityaModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-xl modal-dialog-centered modal-dialog"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true"> &times; </span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <img
                            src="../../static/images/leadership/AdamPic.jpeg"
                            class="less-round center leadership-img"
                          />
                        </div>
                        <div class="col">
                          <h2 class="bluebold">Adam Limani</h2>
                          <h3>Head of Social Media</h3>
                          <p align="center">jcheungm@pawnspathways.org</p>
                          <br />
                          <p>
                            Adam Limani is a 16 year old high school student. As a casual chess player who has played for 5+ years,
                            he is very passionate about the game. Additionally, he is interested in programming, robotics,
                            engineering and STEM, and has held membership to technology-based clubs and robotics teams in the past and present.
                            He is interested in current events and learning new things, and is an active Wikipedia editor.
                            Adam also enjoys playing strategy video-games, such as Balatro and GeoGuessr, as well as playing
                            basketball and soccer with his friends.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bluebold" style="white-space: nowrap;">Adam Limani</h2>
            <h3 class="lead-description">Head of Social Media</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap Javascript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--scripts -->
    <script type="text/javascript">
      /* curator-feed-default-feed-layout */
      (function () {
        var i,
          e,
          d = document,
          s = "script";
        i = d.createElement("script");
        i.async = 1;
        i.src =
          "https://cdn.curator.io/published/5c017ce8-a237-47c5-ab0d-b9edeb732755.js";
        e = d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
      })();
    </script>
    <script type="text/javascript" src="../../static/scripts/ajax.js"></script>
  </body>

  <section id="footer"></section>
</html>
